* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-image: url("/public/blue-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    .loginContainer {
        z-index: 15;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        width: 450px;
        margin: auto;

        .loginWrapper {
            position: relative;
            padding-right: 1.5rem;
            padding-left: 1.5rem;
            background-image: linear-gradient(
                to right,
                rgba(255, 255, 255, 0.8),
                rgba(154, 173, 179, 0.8)
            );

            // border: 1px solid black;
            box-shadow: 0px 0px 3px black;
            border-radius: 15px;
            // height: 700px;

            .formTitle {
                font-family: "Norican", cursive;
                font-weight: 400;
                font-style: normal;
                font-size: 2.5em;
                position: absolute;
                top: 25px;
                left: 50%;
                transform: translateX((-50%));
            }

            .loginForm {
                // height: 400px;
                padding-top: 100px;
                padding-bottom: 100px;
                min-width: 300px;
                width: 400px;

                .formGroup {
                    margin-top: 15px;
                    .textField {
                        // input[type="text"] {
                        //     color: rgb(164, 196, 181);
                        // }
                    }
                }

                .optionContainer {
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    margin-top: 10px;

                    .link {
                        text-decoration: none;
                        color: rgb(81, 103, 73);
                    }
                    .link:hover {
                        color: rgb(180, 37, 12);
                    }
                }

                .submitButtonContainer {
                    margin-top: 20px;
                    display: flex;
                    justify-content: center;

                    .submitButton {
                        background: rgb(105, 105, 105);
                        padding: 10px 70px;
                        border-radius: 35px;
                    }
                }

                .orOptionContainer {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 1em;

                    .orOption {
                        margin: 0px 10px;
                    }

                    .divider {
                        border-bottom: 1px solid rgba(50, 50, 50, 0.3);
                        height: 5px;
                        width: 105px;
                    }
                }

                .googleLoginContainer {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 1em;
                }
            }
        }
    }
}
