.video-player-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    /* Aspect ratio for 16:9 videos */
    background-color: #000;
    overflow: hidden;
}

.video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Custom controls */
.video-player::-webkit-media-controls-play-button,
.video-player::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}

.video-player::-webkit-media-controls-panel {
    background-color: rgba(0, 0, 0, 0.7);
    /* Slightly transparent black */
    color: white;
    /* White text color */
}

.video-player::-webkit-media-controls-timeline {
    background-color: rgba(255, 255, 255, 0.3);
    /* Slightly transparent white */
}

.video-player::-webkit-media-controls-current-time-display,
.video-player::-webkit-media-controls-time-remaining-display {
    color: white;
}