.courseDetailContainer {
    margin-bottom: 50px;
    // display: flex;
    // width: 100%;
    // margin: 0px 20px;
    font-family: "Udemy Sans", "SF Pro Text", -apple-system, BlinkMacSystemFont,
        Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";

    .pad_right {
        padding-right: 5px;
    }

    .wrapper {
        margin: 0 auto;
        max-width: 1400px;
        .container {
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
            column-gap: 1.2em;
            // justify-content: space-evenly;

            .leftColumn,
            .rightColumn {
                flex: 1;
                display: flex;
            }

            .leftColumn {
                align-items: center; /* Align items vertically center */
                justify-content: center; /* Center content horizontally */
                padding: 10px;
            }

            .thumbnailBox {
                box-shadow: 0 0 5px rgba(150, 150, 150, 0.8);
                background-color: var(--main-pink-color-opacity);
                justify-content: center; /* Center the content horizontally */
                padding: 15px 25px;
                overflow: hidden;
                display: flex;
                position: relative;
                align-items: center; /* Align items vertically center */

                .thumbnail {
                    width: 100%;
                    // height: 500px;
                    // max-height: 100%; /* Ensure the image doesn't exceed the height of its container */
                    object-fit: contain; /* Ensure the image covers the container while maintaining aspect ratio */
                }
            }

            .detailContent {
                display: table;
                // flex-direction: column;
                // justify-content: center; /* Center the content vertically */

                .detailPrice {
                    padding: 10px;
                    background-color: pink;
                    font-size: 15px;
                    color: rgb(222, 68, 94);
                    border-radius: 5%;
                    font-weight: 500;
                    width: max-content;
                }

                .views {
                    .titleViews {
                        font-family: "Quicksand", sans-serif;
                        font-optical-sizing: auto;
                        font-weight: bold;
                        font-style: normal;
                    }
                }

                .loadingBox {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                }

                .nextCourse {
                    cursor: pointer;
                    padding: 10px;
                    background-color: pink;
                    width: 100%;
                    font-size: 15px;
                    color: rgb(222, 68, 94);
                    border-radius: 5%;
                    font-weight: 900;
                    text-align: center;
                    display: inline-block;
                    text-decoration: none;
                }

                .nextCourse:hover {
                    background-color: rgb(214, 132, 146);
                    color: rgb(171, 89, 103);
                }
            }
        }

        .mainBox {
            padding: 20px;
            margin-top: 1em;
            // background-color: rgba(203, 182, 161, 0.2);
            box-shadow: inset 0 -1px 0 0 #d1d7dc;
            // overflow: auto;

            .titleBox {
                margin-bottom: 10px;
                cursor: pointer;
                display: flex;
                border-bottom: 2px solid #d1d7dc;

                p {
                    padding-right: 15px;
                    font-size: 20px;
                }

                p:hover {
                    font-weight: bold;
                }
            }

            .videoBox {
                margin-bottom: 10px;
                overflow: auto;

                .video {
                    min-width: 100%;
                    max-height: 600px;
                    object-fit: contain; /* Ensure the video covers the container while maintaining aspect ratio */
                }
            }

            .contentBox {
                margin-top: 30px;
            }
        }
    }
}

@media (max-width: 1000px) {
    .courseDetailContainer {
        .wrapper {
            .container {
                .leftColumn,
                .rightColumn {
                    flex-basis: 100%;
                }

                .leftColumn {
                    padding: 40px;
                    margin-bottom: 1.2em;
                }
            }
        }
    }
}
