* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    font-family: "Udemy Sans", "SF Pro Text", -apple-system, BlinkMacSystemFont,
        Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
    // max-width: 88.7rem;
    width: 100%;
    height: 550px;
    background-color: rgba(203, 182, 161, 0.2);
    .wrapper { 
        // position: absolute;
        text-align: center;
        margin: auto;
        // display: grid;
        // grid-auto-columns: 100%;
        // grid-auto-flow: column;
        // grid-gap: 1.6rem;
        box-shadow: 0 0 5px rgba(150, 150, 150, 0.8);
        border-radius: 10px;
        display: flex;
        width: 800px;
        height: 300px;
        padding: 20px 20px;
        .title {
           
            justify-content: center;
            align-items: center;
            width: 300px;                    
            p {
                margin-top: 10px;
                font-weight: 400;
                line-height: 1.4;
                font-size: 1rem;
                text-align: left;
                
            }
            a {
                color: #5624d0;
                font-weight: 700;
                line-height: 1.2;
                letter-spacing: 0;
                font-size: 1rem;
                text-align: left;
            }
        }
        .subtitle {
            width: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            .avatar {
                display: flex;
                text-align: center;
            }
            .caption {
                opacity: 0.5;
            }

        }
    }
}
