* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    // margin: 0 !important;

    margin-top: auto !important;
    width: 100%;
    // position: fixed;
    // bottom: 0;
    .wrapper {
        padding: 20px;
        display: flex;
        background-color: var(--black-color);
        // position: relative;
        .list {
            font-family: "Udemy Sans", "SF Pro Text", -apple-system,
                BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial,
                sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
                "Segoe UI Symbol";
            line-height: 1.4;
            font-size: 0.7rem;
            flex-basis: 13rem;
            a {
                text-decoration: none;
                color: #fff;
            }
        }
        .sourceLink {
            cursor: pointer;
            margin-left: auto;
            flex-shrink: 0;
            padding: 20px;
            .wrapperSourceLink {
                padding: 7px 25px;
                border: 2px solid #fff;

                .iconLanguage {
                    color: #fff;
                    font-size: 21px;
                    margin-top: -2px;
                }
                a {
                    color: #fff;
                    text-decoration: none;
                    margin-left: 3px;
                    height: 4rem;
                    min-width: 14rem;
                }
            }
        }
    }
    .logo {
        padding: 0.3rem 0 1.3rem 2rem;
        background-color: var(--black-color);
        img {
            width: 80px;
            height: 50px;
        }
    }
}
